@font-face {
  font-family: 'HGSKyokashotai'; /* Name you’ll use to reference the font */
  src: url('./fonts/_HGSKyokashotai.ttf') format('truetype'); /* Path to the font file */
  font-weight: normal; /* Adjust based on your font’s weight */
  font-style: normal; /* Adjust based on your font’s style */
}

body {
  font-family: 'HGSKyokashotai', sans-serif;
}
